<a href="https://colab.research.google.com/github/JJ0206/2026-Jan/blob/main/%EC%B2%AD%EC%86%8C%EB%85%84IT%EA%B2%BD%EC%8B%9C%EB%8C%80%ED%9A%8C_%EB%8C%80%EB%B9%84_%EB%9D%BC%EC%9D%B4%EB%B8%8C%EB%9F%AC%EB%A6%AC_%EC%A0%95%EB%A6%AC_%EB%82%A0%EC%A7%9C.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

datetime.date 년, 월, 일로 날짜를 표현할 때 사용한다.

In [ ]:
import datetime

day1=datetime.date(2024,2,23)
print(day1)

day2=datetime.date(2025,12,31)
print(day2)

2024-02-23
2025-12-31

In [ ]:
import datetime

day1=datetime.date(2024,2,23)
print(day1)

day2=datetime.date(2025,12,31)
print(day2)

diff=day2-day1
print(diff)

2024-02-23
2025-12-31
677 days, 0:00:00

In [ ]:
import datetime

day1=datetime.date(2024,2,23)
print(day1)

day2=datetime.date(2025,12,31)
print(day2)

diff=day2-day1
print(diff)

print(diff.days)
print(diff.seconds)
print(diff.total_seconds())

2024-02-23
2025-12-31
677 days, 0:00:00
677
0
58492800.0

datetime.time은 년, 월, 일로만 구성되어 있다.

시, 분, 초까지 포함하려면 datetime.datetime을 사용해야 한다.

In [ ]:
import datetime
day3=datetime.datetime(2025,12,31,14,12,00)
print(day3)
print(day3.hour)

2025-12-31 14:12:00
14

날짜 객체의 weekday() 메소드를 활용하면 요일을 숫자로 구할 수 있다.

0: 월요일
1: 화요일
2: 수요일
,,,
6: 일요일

In [ ]:
import datetime
day=datetime.date(2026,1,16)
print(day.weekday())

월요일을 1로 지정하고 싶다면 isoweekday() 메소드 사용

In [ ]:
import datetime
day=datetime.date(2026,1,16)
print(day.weekday())
print(day.isoweekday())

4
5

오늘 날짜를 구할 때는
datetime.date.today() 사용

In [ ]:
import datetime
today=datetime.date.today()
print(today)

2026-01-15

n일 후의 날짜를 구하려면
datetime.timedelta(days=n) 사용

In [ ]:
import datetime
today=datetime.date.today()
diff=datetime.timedelta(days=100)
day2=today+diff
print(day2)

2026-04-25

두 날짜 사이의 차이를 구하려면 뺄셈한다.

In [ ]:
import datetime
today=datetime.date.today()
dday=datetime.date(2026,3,14)
diff=dday-today
print(diff)
print(diff.days)

58 days, 0:00:00
58

**날짜 포맷**

%Y,4자리 연도 (Year),2026

%y,뒤의 2자리 연도,26

%m,0을 채운 월 (Month),01

%B,월의 전체 이름 (Locale 기준),January

%b,월의 약어 (Locale 기준),Jan

%d,0을 채운 일 (Day),16

In [2]:
from datetime import datetime

now = datetime.now()

# 예: 2026년 01월 16일 (금) 13시 04분
formatted_date = now.strftime("%Y년 %m월 %d일 (%a) %H시 %M분")
print(formatted_date)

# ISO 8601 표준 형식과 유사하게 출력
iso_style = now.strftime("%Y-%m-%d %H:%M:%S")
print(iso_style)

2026년 01월 16일 (Fri) 04시 09분
2026-01-16 04:09:11

**시간 포맷**

%H,24시간 형식 시간 (00~23),13

%I,12시간 형식 시간 (01~12),01

%p,오전/오후 (AM 또는 PM),PM

%M,0을 채운 분 (Minute),04

%S,0을 채운 초 (Second),30

%f,마이크로초 (6자리),000123

**요일 및 기타 정보**

%A,요일 전체 이름,Friday

%a,요일 약어,Fri

%w,요일을 숫자로 표시 (0: 일요일 ~ 6: 토요일),5

%j,연중 일수 (001~366),016

%Z,시간대 이름 (Timezone),KST

%%,% 문자 자체를 표시,%

In [3]:
from datetime import datetime

# 기준 시간 설정 (2026년 1월 16일 13시 8분 59초)
now = datetime(2026, 1, 133, 13, 8, 59)

formats = [
    "%Y-%m-%d", "%y/%m/%d", "%H:%M:%S", "%I:%M:%S %p",
    "%A, %B %d", "%a, %b %d", "%j번째 날", "%W주차", "%c"
]

for fmt in formats:
    print(f"{fmt:<15} => {now.strftime(fmt)}")

%Y-%m-%d        => 2026-01-01
%y/%m/%d        => 26/01/01
%H:%M:%S        => 13:08:59
%I:%M:%S %p     => 01:08:59 PM
%A, %B %d       => Thursday, January 01
%a, %b %d       => Thu, Jan 01
%j번째 날          => 001번째 날
%W주차            => 00주차
%c              => Thu Jan  1 13:08:59 2026